.profile__modify {
  width: 18px;
  height: 18px;
  border: 1px solid #FFF;
  box-sizing: border-box;
  background: transparent;
  background-image: url(../../../images/pen.svg);
  background-size: 8px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  right: -28px;
}
