.header__logo {
  padding-left: 27px;
  padding-top: 28px;
}

@media (min-width: 620px) {
  .header__logo {
    padding-top: 45px;
    padding-left: 14px;
  }
}

@media (min-width: 890px) {
  .header__logo {
    padding-top: 45px;
    padding-left: 0;
  }
}
