.footer__copyright {
  color: #545454;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  /* margin-top: 50px;
  margin-bottom: 36px; */
  /* padding-left: 19px; */
  /* padding: 36px 0 44px 19px; */
  margin: 0;
}
