.profile__button-add {
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  width: 100%;
  min-width: 282px;
  background: transparent;
  background-image: url(../../../images/cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  min-height: 50px;
}
