.form-edit__input {
  min-width: 238px;
  /* min-height: 28px; */
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000;
  margin-bottom: 30px;
  padding: 0 0 13px 0;
  /* vertical-align: text-top; */
}

.form-edit__input:last-of-type {
  margin-bottom: 45px;
}

@media (min-width: 620px) {
  .form-edit__input {
    min-width: 358px;
  }
}
